*{
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: 'Pokemon';
    src: url('fonts/Pokemon\ Solid.ttf') format(truetype);
    font-style: normal;
    font-weight: normal;
}

@font-face{
    font-family: 'Pokemon Hollow';
    src: url('fonts/Pokemon\ Hollow.ttf') format(truetype);
    font-style: normal;
    font-weight: normal;
}

@font-face{
    font-family: 'Minecraft';
    src: url('fonts/Minecraft.ttf') format(truetype);
    font-style: normal;
    font-weight: normal;
}

body{
    background-color: #262626;
}

h1{
    font-family: 'Pokemon';
    color: #ffcc03;
    -webkit-text-stroke: 1px #006cbc;
    font-size: 70px;
    letter-spacing: 3px;
    text-align: center;
    margin-top: -60px;
    margin-bottom: -30px;
}

section{
    word-wrap: break-word;
}

.pokemon-container{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    width: 90%;
    margin: 0 auto;
    word-wrap: break-word;
    justify-content: space-around;
}

.pokemon{
    width: 200px;
    height: 280px;
    margin: 5px;
    border: 2px solid white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    border-radius: 40px;
    color: white;
    font-family: 'Minecraft';
    letter-spacing: 2px;
}

.pokemon:hover{
    cursor: pointer;
    background-color: black;
    border: 2px solid red;
}

.pokemon:hover .sprite{
    transition: 0.1s ease;
    transform: scale(1.3);
}

.name{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 110%;
    margin-top: 2px;
}

.sprite img{
    width: 70%; 
}

.tipos{
    text-transform: uppercase;
}

.paginacion{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button{
    width: 20%;
    height: 50px;
    margin: 10px;
    padding-bottom: 80px;
    font-size: 150%;
    border: 2px solid white;
    border-radius: 40px;
    color: #262626;
    -webkit-text-stroke: 1px white;
    background-color: #262626;
    font-family: 'Pokemon';
    letter-spacing: 2px;
    transition: 200ms;
}

button:hover{
    cursor: pointer;
    color: #ffcc03;
    -webkit-text-stroke: 2px #006cbc;
    border: 2px solid red;
    background-color: black;
}

.tipos{
    width: 50%;
    margin: 0 auto;
    font-weight: 400;
}

.tipo1{
    border: 2px solid black;
    border-radius: 20px;
    padding: 2px;
    padding-top: 5px;
    margin: 5px 0;
}

.tipo2{
    border: 2px solid black;
    border-radius: 20px;
    padding: 2px;
    padding-top: 5px;
}

.bug{
    background-color: #3c9950;
	color: black;
}

.dark{
	background-color: #595978;
	color: black;
}

.dragon{
	background-color: #62cad9;
	color: black;
}

.electric{
	background-color: #fbfa72;
	color: black;
}

.fairy{
	background-color: #ea1368;
	color: black;
}

.fighting{
	background-color: #f06239;
	color: black;
}

.fire{
	background-color: #fd4b5a;
	color: black;
}

.flying{
	background-color: #94b2c7;
	color: black;
}

.ghost{
	background-color: #906791;
	color: black;
}

.grass{
	background-color: #27cb50;
	color: black;
}

.ground{
	background-color: #6e491f;
	color: black;
}

.ice{
	background-color: #d8f0fa;
	color: black;
}

.normal{
	background-color: #ca98a6;
	color: black;
}

.poison{
	background-color: #9b69da;
	color: black;
}

.psychic{
	background-color: #f71d92;
	color: black;
}

.rock{
	background-color: #8b3e22;
	color: black;
}

.steel{
	background-color: #43bd94;
	color: black;
}

.water{
	background-color: #85a8fb;
	color: black;
}
