*{
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: 'Pokemon';
    src: url('fonts/Pokemon\ Solid.ttf') format(truetype);
    font-style: normal;
    font-weight: normal;
}

@font-face{
    font-family: 'Pokemon Hollow';
    src: url('fonts/Pokemon\ Hollow.ttf') format(truetype);
    font-style: normal;
    font-weight: normal;
}

@font-face{
    font-family: 'Minecraft';
    src: url('fonts/Minecraft.ttf') format(truetype);
    font-style: normal;
    font-weight: normal;
}

body{
    background-color: #262626;
}

h1{
    font-family: 'Pokemon';
    color: #ffcc03;
    -webkit-text-stroke: 1px #006cbc;
    font-size: 70px;
    letter-spacing: 3px;
    text-align: center;
    margin-top: -60px;
    margin-bottom: -30px;
}

nav{
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

nav form{
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.filaNav{
    font-family: 'Minecraft';
    border: 2px solid white;
    padding: 2%;
    width: 100%;
    display: flex;
}

.filaNav label{
    width: 30%;
    padding: 2%;
    color: white;
    font-size: 150%;
}

.filaNav input{
    width: 70%;
    font-family: 'Minecraft';
    padding: 2%;
    font-size: 120%;
    color: white;
    background-color: #262626;
    border: 2px solid white;
    margin-right: 5%;
}

.filaNav .buscar{
    width: 100%;
}

.filaNav button{
    width: 20%;
    font-family: 'Minecraft';
    color: white;
    background-color: #262626;
    font-size: 140%;
    padding: 2%;
    transition: 500ms;
    cursor: pointer;
}

.filaNav button:hover{
    border: none;
    background-color: white;
    color: #262626;
}

.mensajeEliminar.correcto{
    font-family: 'Minecraft';
    width: 42.6%;
    height: 99px;
    position: fixed;
    background-color: #77dd77;
    border: 5px solid #307e36;
    font-size: 160%;
    color: #262626;
    text-align: center;
    display: none;
    color: white;
    transition: 500ms;
}

.mensajeEliminar.error{
    font-family: 'Minecraft';
    width: 43%;
    height: 12%;
    position: fixed;
    background-color: #f9a59a;
    border: 5px solid #fa5f49;
    font-size: 160%;
    color: #262626;
    text-align: center;
    display: none;
    color: white;
    transition: 500ms;
}

.mensajeEliminar p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.filaBoton{
    width: 20%;
    border: 2px solid white;
    margin: 0 auto;
    margin-top: 2%;
    padding: 2;
}

.crear{
    width: 100%;
    font-family: 'Minecraft';
    color: white;
    background-color: #262626;
    border: none;
    font-size: 140%;
    padding: 10%;
    transition: 500ms;
    cursor: pointer;
}

.crear:hover{
    border: none;
    background-color: white;
    color: #262626;
}

.crear a{
    color: white;
    text-decoration: none;
}

.crear:hover a{
    color: #262626;
}


section{
    word-wrap: break-word;
}

.pokemon-container{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    width: 90%;
    margin: 0 auto;
    word-wrap: break-word;
    justify-content: space-evenly;
}

.pokemon{
    width: 200px;
    height: 280px;
    margin: 5px;
    display: flex;
    border: 2px solid white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    border-radius: 40px;
    background-color: #262626;
    color: white;
    font-family: 'Minecraft';
    letter-spacing: 2px;
}

.col33{
    width: 100%;
    display: flex;
    flex-direction: column;
    vertical-align: center;
}

.col66{
    display: none;
    width: 66%;
    margin-left: 2%;
    vertical-align: center;
}

.descripcion{
    width:100%;
    text-align: center;
    padding-top: 30px;
    font-size: 150%;
}

.nombreNumero{
    width: 100%;
}

.alturaPeso{
    display: none;
    width: 100%;
    font-size: 110%;
    margin-top: 2%;
    text-transform: uppercase;
}

.altura{
    display: none;
    width: 100%;
    margin-top: 1%;
    margin-bottom: -2%;
    text-align: center;
}

.peso{
    display: none;
    width: 100%;
    margin-top: 2%;
    text-align: center;
}

.stats{
    display: none;
    width: 90%;
    text-align: center;
    margin-top: 4%;
}

.stat{
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
}

meter{
    width: 70%;
    height: 60px;
}

.stat p{
    width: 30%;
    padding-top: 3%;
}

meter::-webkit-meter-suboptimum-value{
    background-color: #77dd77;
}

meter::-webkit-meter-optimum-value{
    background-color: #77dd77;
}

meter::-webkit-meter-even-less-good-value{
    background-color: #77dd77;
}

meter::-webkit-meter-bar{
    background-color: #262626;
}

.noHover:hover{
    cursor: pointer;
    background-color: black;
    border: 2px solid red;
}

.noHover:hover .sprite{
    transition: 0.1s ease;
    transform: scale(1.3);
}

.name{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 110%;
    margin-top: 2px;
}

.sprite img{
    padding-top: 3%;
    width: 70%; 
}

.paginacion{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer button{
    width: 20%;
    height: 50px;
    margin: 10px;
    padding-bottom: 80px;
    font-size: 150%;
    border: 2px solid white;
    border-radius: 40px;
    color: #262626;
    -webkit-text-stroke: 1px white;
    background-color: #262626;
    font-family: 'Pokemon';
    letter-spacing: 2px;
    transition: 200ms;
}

footer button:hover{
    cursor: pointer;
    color: #ffcc03;
    -webkit-text-stroke: 2px #006cbc;
    border: 2px solid red;
    background-color: black;
}

.tipos{
    width: 65%;
    margin: 0 auto;
    font-weight: 400;
    margin-bottom: 2%;
    text-transform: uppercase;
}

.tipo1{
    border: 2px solid black;
    border-radius: 20px;
    padding: 2px;
    padding-top: 5px;
    margin: 5px 0;
}

.tipo2{
    border: 2px solid black;
    border-radius: 20px;
    padding: 2px;
    padding-top: 5px;
}

.Bicho{
    background-color: #3c9950;
	color: black;
}

.Siniestro{
	background-color: #595978;
	color: black;
}

.Dragon{
	background-color: #62cad9;
	color: black;
}

.Electrico{
	background-color: #fbfa72;
	color: black;
}

.Hada{
	background-color: #ea1368;
	color: black;
}

.Lucha{
	background-color: #f06239;
	color: black;
}

.Fuego{
	background-color: #fd4b5a;
	color: black;
}

.Volador{
	background-color: #94b2c7;
	color: black;
}

.Fantasma{
	background-color: #906791;
	color: black;
}

.Planta{
	background-color: #27cb50;
	color: black;
}

.Tierra{
	background-color: #6e491f;
	color: black;
}

.Hielo{
	background-color: #d8f0fa;
	color: black;
}

.Normal{
	background-color: #ca98a6;
	color: black;
}

.Veneno{
	background-color: #9b69da;
	color: black;
}

.Psiquico{
	background-color: #f71d92;
	color: black;
}

.Roca{
	background-color: #8b3e22;
	color: black;
}

.Hierro{
	background-color: #43bd94;
	color: black;
}

.Agua{
	background-color: #85a8fb;
	color: black;
}
